body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background:linear-gradient(90deg,#0f132e,#19274e,#536d88);
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }
h1{
    font-size: 3em;
    margin:2px;
}
p{
    font-size:1.2em;
}
select:hover{cursor: pointer;}
.header{
    background-color: #b49b85;
    margin: 10px auto;
    text-align:center;
    width:500px;
    min-width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    font-family: Tahoma;
    box-shadow: 5px 5px 12px #0f132e;
}
form{padding-bottom: 2em;}
form{
    background-color: #b49b85;
    width:500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 12px #0f132e;
}
input,select,textarea{
    display: block;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #eac195;
    margin: 10px 0 10px 0;
    width: 100%;
    min-height: 2em;
}
#name,#email,#number,textarea, select
{
    box-shadow: 2px 2px 5px #0f132e;
}

label{
    font-size: 1.2em;
}
.form-group{
    padding: 20px 0;
}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
hr{
    width: 90%;
    height: 3px;
    border: none;
    background-color: #536d88;
    box-shadow: 1px 1px 2px #0f132e;
}
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background: linear-gradient(90deg,#eac195,#f5f6f7);
    border-color: white;
    min-width: 300px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px #0f132e;
  }




